@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'F1 Black';
  src: url('./assets/fonts/f1_black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'F1 Bold Web';
  src: url('./assets/fonts/f1_bold_web.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'F1 Bold';
  src: url('./assets/fonts/f1_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'F1 Italic';
  src: url('./assets/fonts/f1_italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'F1 Regular';
  src: url('./assets/fonts/f1_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'F1 Wide';
  src: url('./assets/fonts/f1_wide.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
